<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netcenter.zaascy.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.netcenter.zaascy.bean.Module" >
    <constructor >
      <idArg column="MOK_ID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="MOKMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DANW_ID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="MOKLJ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MOKZT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FUMKID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="SHUOM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BEIZ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JILCJZ" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="JILCJSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="JILXGZ" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="JILXGSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TIJR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHENGHR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JIAOYR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    MOK_ID, MOKMC, DANW_ID, MOKLJ, MOKZT, FUMKID, SHUOM, BEIZ, JILCJZ, JILCJSJ, JILXGZ, 
    JILXGSJ, TIJR_ID, SHENGHR_ID, JIAOYR_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from XTMK
    where MOK_ID = #{mokId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from XTMK
    where MOK_ID = #{mokId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.netcenter.zaascy.bean.Module" >
    insert into XTMK (MOK_ID, MOKMC, DANW_ID, 
      MOKLJ, MOKZT, FUMKID, 
      SHUOM, BEIZ, JILCJZ, 
      JILCJSJ, JILXGZ, JILXGSJ, 
      TIJR_ID, SHENGHR_ID, JIAOYR_ID
      )
    values (#{mokId,jdbcType=NUMERIC}, #{mokmc,jdbcType=VARCHAR}, #{danwId,jdbcType=NUMERIC}, 
      #{moklj,jdbcType=VARCHAR}, #{mokzt,jdbcType=VARCHAR}, #{fumkid,jdbcType=NUMERIC}, 
      #{shuom,jdbcType=VARCHAR}, #{beiz,jdbcType=VARCHAR}, #{jilcjz,jdbcType=NUMERIC}, 
      #{jilcjsj,jdbcType=TIMESTAMP}, #{jilxgz,jdbcType=NUMERIC}, #{jilxgsj,jdbcType=TIMESTAMP}, 
      #{tijrId,jdbcType=VARCHAR}, #{shenghrId,jdbcType=VARCHAR}, #{jiaoyrId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.netcenter.zaascy.bean.Module" >
    insert into XTMK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mokId != null" >
        MOK_ID,
      </if>
      <if test="mokmc != null" >
        MOKMC,
      </if>
      <if test="danwId != null" >
        DANW_ID,
      </if>
      <if test="moklj != null" >
        MOKLJ,
      </if>
      <if test="mokzt != null" >
        MOKZT,
      </if>
      <if test="fumkid != null" >
        FUMKID,
      </if>
      <if test="shuom != null" >
        SHUOM,
      </if>
      <if test="beiz != null" >
        BEIZ,
      </if>
      <if test="jilcjz != null" >
        JILCJZ,
      </if>
      <if test="jilcjsj != null" >
        JILCJSJ,
      </if>
      <if test="jilxgz != null" >
        JILXGZ,
      </if>
      <if test="jilxgsj != null" >
        JILXGSJ,
      </if>
      <if test="tijrId != null" >
        TIJR_ID,
      </if>
      <if test="shenghrId != null" >
        SHENGHR_ID,
      </if>
      <if test="jiaoyrId != null" >
        JIAOYR_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mokId != null" >
        #{mokId,jdbcType=NUMERIC},
      </if>
      <if test="mokmc != null" >
        #{mokmc,jdbcType=VARCHAR},
      </if>
      <if test="danwId != null" >
        #{danwId,jdbcType=NUMERIC},
      </if>
      <if test="moklj != null" >
        #{moklj,jdbcType=VARCHAR},
      </if>
      <if test="mokzt != null" >
        #{mokzt,jdbcType=VARCHAR},
      </if>
      <if test="fumkid != null" >
        #{fumkid,jdbcType=NUMERIC},
      </if>
      <if test="shuom != null" >
        #{shuom,jdbcType=VARCHAR},
      </if>
      <if test="beiz != null" >
        #{beiz,jdbcType=VARCHAR},
      </if>
      <if test="jilcjz != null" >
        #{jilcjz,jdbcType=NUMERIC},
      </if>
      <if test="jilcjsj != null" >
        #{jilcjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="jilxgz != null" >
        #{jilxgz,jdbcType=NUMERIC},
      </if>
      <if test="jilxgsj != null" >
        #{jilxgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="tijrId != null" >
        #{tijrId,jdbcType=VARCHAR},
      </if>
      <if test="shenghrId != null" >
        #{shenghrId,jdbcType=VARCHAR},
      </if>
      <if test="jiaoyrId != null" >
        #{jiaoyrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netcenter.zaascy.bean.Module" >
    update XTMK
    <set >
      <if test="mokmc != null" >
        MOKMC = #{mokmc,jdbcType=VARCHAR},
      </if>
      <if test="danwId != null" >
        DANW_ID = #{danwId,jdbcType=NUMERIC},
      </if>
      <if test="moklj != null" >
        MOKLJ = #{moklj,jdbcType=VARCHAR},
      </if>
      <if test="mokzt != null" >
        MOKZT = #{mokzt,jdbcType=VARCHAR},
      </if>
      <if test="fumkid != null" >
        FUMKID = #{fumkid,jdbcType=NUMERIC},
      </if>
      <if test="shuom != null" >
        SHUOM = #{shuom,jdbcType=VARCHAR},
      </if>
      <if test="beiz != null" >
        BEIZ = #{beiz,jdbcType=VARCHAR},
      </if>
      <if test="jilcjz != null" >
        JILCJZ = #{jilcjz,jdbcType=NUMERIC},
      </if>
      <if test="jilcjsj != null" >
        JILCJSJ = #{jilcjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="jilxgz != null" >
        JILXGZ = #{jilxgz,jdbcType=NUMERIC},
      </if>
      <if test="jilxgsj != null" >
        JILXGSJ = #{jilxgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="tijrId != null" >
        TIJR_ID = #{tijrId,jdbcType=VARCHAR},
      </if>
      <if test="shenghrId != null" >
        SHENGHR_ID = #{shenghrId,jdbcType=VARCHAR},
      </if>
      <if test="jiaoyrId != null" >
        JIAOYR_ID = #{jiaoyrId,jdbcType=VARCHAR},
      </if>
    </set>
    where MOK_ID = #{mokId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netcenter.zaascy.bean.Module" >
    update XTMK
    set MOKMC = #{mokmc,jdbcType=VARCHAR},
      DANW_ID = #{danwId,jdbcType=NUMERIC},
      MOKLJ = #{moklj,jdbcType=VARCHAR},
      MOKZT = #{mokzt,jdbcType=VARCHAR},
      FUMKID = #{fumkid,jdbcType=NUMERIC},
      SHUOM = #{shuom,jdbcType=VARCHAR},
      BEIZ = #{beiz,jdbcType=VARCHAR},
      JILCJZ = #{jilcjz,jdbcType=NUMERIC},
      JILCJSJ = #{jilcjsj,jdbcType=TIMESTAMP},
      JILXGZ = #{jilxgz,jdbcType=NUMERIC},
      JILXGSJ = #{jilxgsj,jdbcType=TIMESTAMP},
      TIJR_ID = #{tijrId,jdbcType=VARCHAR},
      SHENGHR_ID = #{shenghrId,jdbcType=VARCHAR},
      JIAOYR_ID = #{jiaoyrId,jdbcType=VARCHAR}
    where MOK_ID = #{mokId,jdbcType=NUMERIC}
  </update>
</mapper>