<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netcenter.zaascy.dao.RoleRelationMapper" >
  <resultMap id="BaseResultMap" type="com.netcenter.zaascy.bean.RoleRelationKey" >
    <constructor >
      <idArg column="YONGH_ID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <idArg column="JUES_ID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.netcenter.zaascy.bean.RoleRelationKey" >
    delete from XTYH_JS
    where YONGH_ID = #{yonghId,jdbcType=NUMERIC}
      and JUES_ID = #{juesId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.netcenter.zaascy.bean.RoleRelationKey" >
    insert into XTYH_JS (YONGH_ID, JUES_ID)
    values (#{yonghId,jdbcType=NUMERIC}, #{juesId,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.netcenter.zaascy.bean.RoleRelationKey" >
    insert into XTYH_JS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yonghId != null" >
        YONGH_ID,
      </if>
      <if test="juesId != null" >
        JUES_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yonghId != null" >
        #{yonghId,jdbcType=NUMERIC},
      </if>
      <if test="juesId != null" >
        #{juesId,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
</mapper>